<h1>Web de Reservas</h1>
<p>Listado de restaurantes</p>

<table CELLSPACING="10">
    <tr>
        <td>Nombre</td>
        <td>Direcci&oacute;n</td>
        <td>Tel&eacute;fono</td>
        <td>Tipo de comida</td>
    </tr>
    <tr *ngFor="let restaurante of restaurantes" [class.seleccionado]="restaurante===restauranteSeleccionado" (click)="seleccionarRestaurante(restaurante)">
        <td>{{restaurante.nombre}}</td>
        <td>{{restaurante.direccion}}</td>
        <td>{{restaurante.telefono}}</td>
        <td>{{restaurante.tipoComida}}</td>
    </tr>
    <tr>
        <td colspan="4">
            <app-restaurante-detalle [restaurante]="restauranteSeleccionado"></app-restaurante-detalle>
        </td>
    </tr>
</table>